@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a,
a:is(:hover, :visited) {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

:root {
  --primary-color: 186, 24, 27;
  --secondary-background-color: 22, 26, 29;
}

body {
  background-color: rgb(var(--secondary-background-color));

  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: white;
}