nav {
  width: 100%;

  position: fixed !important;
  z-index: 1000;

  background-color: black;
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
}

.navbar-brand span {
  color: rgb(var(--primary-color));
}

.navbar button.dropdown-toggle {
  background-color: rgb(var(--primary-color));
  border: none;

  color: white;
}

.navbar .dropdown-toggle:is(:active, :focus) {
  background-color: rgb(var(--primary-color)) !important;
  box-shadow: none;
}

.navbar .dropdown-toggle .avatar {
  overflow: hidden;

  width: 30px;
}

.navbar .dropdown-toggle .avatar img {
  width: 30px;

  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.navbar .dropdown-menu a:active {
  background-color: rgb(var(--primary-color));
}